<!--
TODO:

* Year separation with stroked lines every 12 points
* Preset function (linear pos/neg, exp, ln, sqr)

-->



<!DOCTYPE html>
<html>
<head>
	<title>No Regression App - Dev in Progress</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div id="appContainer">
		<div id="graphContainer">
			<div v-for="(point, index) in points" v-on:mousedown="selectPoint(index)"
			 	 v-bind:id="'point_' + index" v-bind:class="{ 'selected': currentSelectedPointIndex === index }" class="pointInContainer">
				<span v-bind:style="{ fontSize: pointSize + 'px' }" class="fa fa-circle"></span>
			</div>
			<svg style="width: 100%;height:100%;">
				<line v-for="(line, index) in lines" stroke="#00C4FF"
					  v-bind:x1="line.x1" v-bind:y1="line.y1" v-bind:x2="line.x2" v-bind:y2="line.y2"/>
				<line v-for="(year, index) in yearLines" stroke="grey" stroke-dasharray="10,10" stroke-width="1"
				      v-bind:x1="year.x1" v-bind:y1="year.y1" v-bind:x2="year.x2" v-bind:y2="year.y2"/>
			</svg>
		</div>
	</div>
</body>
</html>

<script>
	var mainVue = new Vue({
		el: "#appContainer",
		data: {
			container: null,

			points:[],
			currentSelectedPointIndex: -1,
			pointSize: 12,
			currentPointElement: null,

			lines: [],

			months:36,
			yearMonths:12,
			yearLines:[],

			mouseSize: 10,

			gridPrecision: 0.01
		},
		mounted: function(){
			this.init();

			document.addEventListener("mouseup", function(){
				mainVue.deselectPoint();
			})
		},
		methods:{
			init: function(){
				this.generatePoints();
				Vue.nextTick(function(){
					this.calculatePointPosition();
					this.generateLines();
					this.generateYearLines();
				}.bind(this))
			},
			generatePoints: function(){
				this.container = document.getElementById("graphContainer");

				let reminderGap = this.container.offsetWidth % this.months;
				let pointsGap = (this.container.offsetWidth - reminderGap) / this.months;

				let freeSpace = pointsGap / this.months;

				for (let i = 0; i < this.months+1; i++) {
					let point = { x: i*pointsGap - this.pointSize/2, y: this.container.offsetHeight - this.pointSize}
					this.points.push(point);

				}
			},
			generateLines: function(){
				this.lines = [];
				for (let i = 0; i < this.points.length-1; i++) {
					let line = {
						x1: this.points[i].x + this.pointSize/2,
						y1: this.points[i].y + this.pointSize,
						x2: this.points[i+1].x + this.pointSize/2,
						y2: this.points[i+1].y + this.pointSize
					}
					this.lines.push(line);
				}
			},
			generateYearLines: function(){
				let nbYears = (this.months - this.months%this.yearMonths) / this.yearMonths;

				for (let i = 1; i < nbYears; i++) {
					let year = {
						x1:this.points[i*this.yearMonths].x + this.pointSize/2,
						y1:0,
						x2:this.points[i*this.yearMonths].x + this.pointSize/2,
						y2: this.container.offsetHeight
					}
					this.yearLines.push(year);
				}
			},

            fromCoordToPercentage: function(value){
                let zero = this.container.offsetHeight - this.pointSize;

				let percentage = ((zero - value) / zero) * 100
                  
                return percentage;
            },
			fromPercentageToCoord: function(percentage){
                let zero = this.container.offsetHeight - this.pointSize;

				let value = zero - ((percentage / 100) * zero);
				return value;
		    },
			fromPointCoordToPercentage: function(index){
                return this.clampPercentage(this.fromCoordToPercentage(this.points[index].y));
			},
			clampPercentage: function(percentage){
                if(percentage < 0){
					percentage = 0;
				}
				if(percentage > 100){
					percentage = 100;
				}
				return percentage;
			},
			snapValueToGrid(value){
                
			},
			snapPercentageToGrid(percentage){
                let value = this.fromPercentageToCoord(percentage);
				return this.snapValueToGrid(value);
			},
			snapPointToGrid(index){
                this.points[index].y = this.snapPointToGrid(this.points[index].y);
			},

			calculatePointPosition: function(){
				for (let i = 0; i < this.points.length; i++) {
					let point = document.getElementById("point_"+i);

					point.style.left = this.points[i].x + "px";
					point.style.top = this.points[i].y + "px";
				}
			},
			calculateSinglePointPosition: function(index){
				let point = document.getElementById("point_"+index);
				point.style.left = this.points[index].x + "px";
				point.style.top = this.points[index].y + "px";
			},
			selectPoint: function(index){
				this.currentSelectedPointIndex = index;

				this.currentPointElement = document.getElementById("point_"+index);

				document.addEventListener("mousemove", function(e){
					if(this.currentPointElement != null){		
						//var xScrollPos = document.documentElement.scrollLeft;
			            let yScrollPos = document.documentElement.scrollTop;


						let mouseY = yScrollPos + e.clientY - this.container.offsetTop;

						if(mouseY < 0 || mouseY > this.container.offsetHeight){
							return;
						}
						
						mouseY -= this.mouseSize;

						this.points[this.currentSelectedPointIndex].y = mouseY;
						this.currentPointElement.style.top = mouseY + "px";

						mouseY += this.pointSize;

						if(this.currentSelectedPointIndex === this.points.length-1)
						{
							this.lines[this.currentSelectedPointIndex-1].y2 = mouseY;
						} 
						else if(this.currentSelectedPointIndex === 0)
						{
							this.lines[this.currentSelectedPointIndex].y1 = mouseY;
						} 
						else
						{
							this.lines[this.currentSelectedPointIndex-1].y2 = mouseY;
							this.lines[this.currentSelectedPointIndex].y1 = mouseY;
						}
					}
				}.bind(this))

			},
			deselectPoint: function(){
				//delete listener
				this.currentPointElement = null;
				document.removeEventListener("mousemove", null);
				this.currentSelectedPointIndex = -1;
			},
		},
		watch:{
		}
	});
</script>