#appContainer{
	background-color:white;

	margin:auto;

	width:1000px;
	height:650px;

	margin-top:150px;
}

#graphContainer{
	position:relative;

	background-color:#eee;

	margin:auto;

	width:90%;
	height:90%;

	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.pointInContainer{
	width:0px;
	height:0px;
	display:inline-block;
	position:relative;
	transition: left 1s;
}

.pointInContainer.selected span{
	color:orange;
}

.graph-line{
	stroke:blue;
	stroke-width:5;
}